hr {
    margin: 0;
}

.rodape {
    background-color: var(--branco2);
    padding: 1em;
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {
    .rodape {
        padding-top: 2em;
        display: flex;
        justify-content: space-between;
    }

    .rodape__titulo {
        font-size: 24px;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        color: var(--cinza3);
        text-transform: uppercase;
        margin-bottom: 1em;
        font-size: 14px;
    }

    .lista-rodape__link {
        font-size: 14px;
        text-decoration: none;
        color: var(--cinza2);
        margin-left: .5em;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: .5em 0;
    }
}

@media screen and (min-width: 1728px) {
    .lista-rodape {
        border-left: 1px solid var(--cinza);
        padding-left: 1em;
    }

    .rodape {
        padding: 3em 10vw;
    }
}